$white-color: #fff;
$white-opacity-color: rgba(#fff, 0.5);
$blue-color: rgb(0 121 254);

$bg-color: rgb(20 28 47);
$bg-card-color: rgb(31 42 72);

$main-font: "Roboto", monospace;

$radius: 1rem;
$width: 600px;
